.sort-by {
    text-align: right;
}

.sort-by__group {
    position: relative;
}

.sort-by__options {
    background: var(--white);
    border-radius: 2px;
    min-width: 180px;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    transition: all ease-in-out .3s;
    top: calc(100% + .5rem);
    visibility: hidden;
    z-index: 999;
}

.sort-by__options[data-open="true"] {
    opacity: 1;
    visibility: visible;
}

.sort-by__button {
    background: transparent;
    border: none;
    color: var(--new-dark-gray);
    font-weight: 900;
    height: auto;
}

.sort-by__button:focus {
    outline-color: var(--primary);
}

.sort-by__button span {
    color: var(--primary);

}

.sort-by__button .icon {
    transform: rotate(180deg);
    vertical-align: middle;

}

.sort-by__item {
    align-items: center;
    color: var(--dark-gray);
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    height: 50px;
    padding-inline: 1rem;
}

.sort-by__item:not(:last-child) {
    border-bottom: 1px solid var(--light);
}

