// Bootstrap colors
$primary: #d45224;
$secondary: #00b0aa;
$dark: #000000;
$info: #c0cbd6;
$light: rgb(255, 255, 255);



  // colors from guide styles
  //Primary
  $red-orange: $primary;
  $green: #96a550;
  $dark-gray: #45515d;
  $dark-red: #ab3a1b;

  //Secondary
  $teal-blue: $secondary;
  $bright-blue: #00b4e5;
  $magenta: #b73093;
  $dark-orange: #b88e2d;

// Font
$lato: 'Lato', sans-serif;
$gotham:  'Gotham', sans-serif;